.unclicked.btn--primary{
    background-color: red;
    color:#242424;
    border: 1px solid red;
    
}
.clicked{
}

.correct-ans.btn--primary{
    background-color: green;
    border: 1px solid green;
    color:#ffffff;
}
